/* 컨텐트 H 조정 시작 */
.container-tbl {
	width: 100%;
	max-width: 100vw;
	height: 375vh;
}

/* 컨텐트  */
.content-tbl {
	background-color: #5b7953;
	width: 100%;
	height: 415vh;
	display: flex;
	flex-direction: column;
}

.content-sec {
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 315vh;
}

/* 컨텐트 H 끝 */


/* apply form */
.content-applyform-td {
	margin: 5%;
	height: auto;
	width: 80%;
	display: flex;
    flex-direction: column;
    	justify-content: center;
    	align-items: center;
}

.content-applyform-tr-1 {
	height: 6rem;
	margin: 2%;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

.categotyselect {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 100%;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
	/* 	txt */
	color: #546137;
	font-family: Inter;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	
}

.content-applyform-tr-2 {
	display: flex;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.content-applyform-td2{
	width: 100%
}

.content-applyform-tr-2-1 {
	color: #546137;
	text-align: center;
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 30%;
	height: 50%;
}

.content-applyform-tr-2-2 {
	width: 80%;
	display: flex;
    justify-content: center;
}

.content-applyform-tr-2-3 {
	display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.content-applyform-tr-2:nth-child(7) {
	height: 40vh;
}

.content-cal-btn-box-td{
	width: 100%;
		display: flex;
    	justify-content: center;
    	align-items: center;
}

.content-cal-btn-td {
	background-color: #ffdf6c;
	border-color: #546137;
	filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.3));
	width: 25%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3%;
	padding: 1%;
	border-radius: 10px;
	color: #546137;
	text-align: center;
	font-family: Inter;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}