/* faq 콘텐츠 길이 300vh */
@charset "UTF-8";

@import
	url(https://db.onlinewebfonts.com/c/18039781048bd528f6304c029f5d0f99?family=SF+Pro+JP+Regular)
	;

@font-face {
	font-family: "SF Pro JP Regular";
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot");
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot#iefix")
		format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff2")
		format("woff2"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff")
		format("woff"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.ttf")
		format("truetype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.svg#SF Pro JP Regular")
		format("svg");
}

* {
	font-family: "SF Pro JP Regular";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* 전체 */
.container-tbl {
	height: 300vh;
}

.content-sec {
	height: 200vh;
}

.content-tbl {
	background-color: #5b7953;
	width: 100%;
	height: 300vh;
	display: flex;
	flex-direction: column;
}

/* 본문 */
.faq-content-tbl {
	width: 100%;
	/*   height: 265vh;  */
	height: 200vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.faq-content-box-tr1 {
	width: 80%;
	background-color: rgba(255, 255, 255, 0.80);
	border-radius: 35px;
	height: 80%;
	margin-bottom: 5%;
}



.faq-content-box-tr2 {
	width: 90%;
	height: 100%;
	border-radius: 35px;
	background: rgba(255, 233, 155, 0.90);
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	display: inline-block;
	align-items: center;
}


.faqDetailContainer{
	display:flex;
	justify-content:center;
	width: 100%;
	height: 100%;
}