.header-tbl {
	/* border: solid 1px black; */
	/* max-width: 100vw; */
	width: 100%;
	height: 50vh;
	/* 	position: fixed; */
}

.header-tr-1 {
	/* border: solid 1px black; */
	filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.4));
	width: 100%;
	height: 10%;
	padding-left: 3%;
	padding-right: 3%;
	display: flex;
	position: fixed;
	z-index: 1;
}
/* 로고 이미지 크기 수정 필요X 백그라운드로 자동 크기맞춤O */
.header-br-logo {
	/* border: 1px solid black; */
	display: flex;
	font-size: 500%;
	font-weight: 700;
	width: 25%;
	align-items: center;
	background-size: contain; /* 이미지 div에 전체 */
	background-position: center;
	background-repeat: no-repeat;
}

.header-br-logo>a:visited {
	/*   color: #546137; */
	
}

.header-br-logo>img {
	/* width: 100%; */
	height: 120%;
	object-fit: cover;
}

.header-br-space {
	width: 50%;
}

.header-br-call {
	width: 25%;
	border-radius: 20px;
	background: rgba(255, 228, 131, 0.9);
	box-shadow: 5px 4px 6px 0px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 250%;
	font-weight: 700;
	color: #546137;
}

.header-tr-2 {
	/* border: solid 1px black; */
	width: 100%;
	height: 40%;
	display: flex;
	padding-left: 10%;
	padding-right: 10%;
	top: 10%;
	position: fixed;
	transition: all 0.1s ease-out;
}

.header-td {
	/* border: solid 1px black; */
	display: flex;
	width: 100%;
	height: auto;
}

.header-td-menu {
	/* border: solid 1px black; */
	width: 100%;
	display: flex;
	flex-direction: column;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.header-td-menu-title {
	/* border: 1px solid black; */
	width: 100%;
	height: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.header-td-menu-title>a {
	font-size: 350%;
	color: #536138;
	font-weight: 700;
	position: fixed;
	transition: all 0.1s ease-out;
}

.header-td-menu-under {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transition: all 0.1s ease-in-out;
}

.header-opmenu-td {
	/* border: solid 1px black; */
	width: 100%;
	height: 60%;
	font-size: 200%;
	/* 	color: #ffffff; */
	font-weight: 700;
	display:flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
	transition: all 0.05s ease-out;
	top: 10%;
	gap: 15%;
	visibility: hidden;
}

.header-opmenu-a {
	color: white;
}

.header-opmenu-back {
	border-radius: 0px 0px 40px 40px;
	background: rgba(111, 130, 69, 0.89);
	width: 100vw;
	height: 50vh;
	position: fixed;
	top: -50vh;
	transition: all 0.2s ease-out;
}