
/* 컨텐트  */
.map-content-sec {
  background-color: #5b7953;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
/* 컨텐트 박스 */
.content-box-tbl {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  width: 90%;
  height: 100%;
}
/* 회사소개 오시는길 버튼(css바뀌어야함) */
.content-box-tr {
  width: 100%;
  display: flex;
  height: 10%;
}
.content-box-td1 {
  color: rgb(132, 148, 97);
  font-size: 2.5rem;
  width: 50%;
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 30px;
  text-shadow: 4px 4px 4px #ffdf6c;
}
.content-box-td1 > a {
  color: #546137;
  cursor: hand;
}
.content-box-td2 {
  background-color: rgb(132, 148, 97);
  color: white;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
}
.content-box-td2 > a {
  color: white;
  cursor: hand;
}

/* 인사말 title */
.introduce-tr-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduce-td1 {
  color: #546137;
  text-shadow: 4px 4px 4px #ffdf6c;
  font-size: 2.3rem;
  font-weight: 700;
  width: 10%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduce-td2 {
  color: #546137;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  text-align: right;
}

/* 구글맵 박스 */
.map-tbl {
  display: flex;
  flex-direction: column;
 background-color: black;
}

.map-tr {
  border: solid 4px rgb(255, 255, 255);
  width: 100%;
  height: 70%;
  margin-top: 3%;
}

/* 페이지로드>소개>오시는길 */
.page-road {
  color: #546137;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  text-align: right;
}

/* 맵 텍스트 */
.map-tr2 {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  width: 80%;
  height: 25%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map-td {
  color: #546137;
  text-shadow: 4px 4px 4px #ffdf6c;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  height: 5vh;
}

/* 하단베너ㅓ */
.bottom-venner-tr {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-venner-td {
  background-color: rgb(255, 255, 255, 0.84);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  color: #546137;
  font-size: 2.5rem;
  font-weight: 700;
  width: 20%;
  height: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
}
