/* HTML CSS JSResult Skip Results Iframe
EDIT ON */
/* section calendar */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.company-padding{
	width: 100%;
	height: 100%;
	padding : 2.5%;
}

.company-con {
	/*     width: 100vw;
    height: 100vh; */
	width: 100%;
	height: 100%;
/* 	border: 1px solid black; */
	display: flex;
	justify-content: space-between;
}

.sec_cal {
/* 	border: 1px solid black; */
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.cal_nav {
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 48px;
}

.sec_cal .cal_nav .year-month {
	width: 100%;
	text-align: center;
}

.sec_cal .cal_wrap {
/* 	border: 1px solid black; */
	/* background-color: #3c6ffa; */
}

.sec_cal .days {
	display: flex;
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 10%;
	align-items: center;
	justify-content: center;
}

.sec_cal .days .day {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.sec_cal .day {
	/* display:flex; */
	/* align-items: center;
    justify-content: center; */
	width: calc(100%/ 7);
	/* text-align: left; */
	color: #999;
	font-size: 2rem;
	/* text-align: center; */
	/* border-radius:5px */
}

.current.today {
	background: rgb(242, 242, 242);
}

.sec_cal .dates {
	display: flex;
	flex-flow: wrap;
	height: 80%;
}

.sec_cal .day:nth-child(7n -1) {
	color: #3c6ffa;
}

.sec_cal .day:nth-child(7n) {
	color: #ed2a61;
}

.sec_cal .day.disable {
	color: #ddd;
}

.sec_cal .dates div {
/* 	border: 1px solid black; */
}

/* ********************************************************* */
.sec-ins {
	width: 25%;
	height: 100%;
	border: 1px solid black;
}

.ins-space {
	border: 1px solid black;
	height: 10%;
}

.check-con {
	border: 1px solid black;
	height: 10%;
}

.ins-con {
	border: 1px solid black;
	height: 80%;
}